*
!.gitignore
!README.md

!compiler/
!compiler/**
!stdlib/
!stdlib/**

compiler/bin/
compiler/lib/
compiler/.shards/
compiler/.crystal/
compiler/**/*.o
compiler/**/*.dwarf
compiler/**/*.tmp
compiler/**/*.log
compiler/**/*.bak
compiler/**/*.orig

stdlib/**/*.bak
stdlib/**/*.orig
stdlib/**/*.tmp
stdlib/**/*.log
